 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

 /* Asterisk wildcard selector to override default styles added by the browser */
 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 /* General styles */
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: "DM Sans", sans-serif;
     color: #3a3a3a;
 }

 /* Header */
 header {
     background-color: #FFBE00;
     padding: 0 1rem;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     text-align: center;
 }

 #home p {
     color: #ff3c00e3;
     font-size: 17px;
 }

 header a {
     text-decoration: none;
     color: inherit;
 }

 #menu {
     list-style: none;
     font-size: larger;
     letter-spacing: 3px;
     background-color: #FFBE00;
 }

 #menu>li {
     margin-bottom: 1em;
 }

 info li {
     font-family: "DM Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
     list-style: square;
 }

 .active {
     border-bottom: 1px solid #3a3a3a;
 }

 /* navbar styles with dropdown toggle */
 nav {
     position: absolute;
     background-color: #FFBE00;
     width: 100%;
     box-shadow: 0 2px 2px #3a3a3a;
     left: 0;
     padding: 0 2rem;
     display: none;
     top: 100%;
 }

 #nav-toggle {
     display: none;
 }

 .nav-toggle-label {
     font-size: 2rem;
 }

 h1 {
     font-family: "DM Serif Display", serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     text-align: center;
     /*   color: #252525;*/
 }

 /* Main Content */
 main {
     background-color: skyblue;
     /* Take surplus space to push the footer down */
     flex: 1 0 auto;
     margin-top: 86.4px;
     display: flex;
     flex-direction: column;
     background-position: 75%;
     padding: 3rem 0;
 }

 #meaning-box {
     background-color: darkorange;
 }

 #Benefits-box {
     background-color: #ff3c00e3;
 }

 #Why-to-join-box {
     background-color: darkorange;
 }

 #contact {
     background-color: #ffbe00;
     text-align: center;
     text-decoration: solid underline;
 }

 #Open-Times-Box {
     float: left;
     margin-left: 5vw;
 }

 #Posture-box {
     align-self: center;
 }

 #Phone-and-Email-Box {
     float: right;
     text-align: right;
     margin-right: 5vw;
 }

 #Address-Box {
     margin-top: 0.5vh;
     align-content: center;
     text-align: center;
     background-color: skyblue;
 }

 #container
 {
    align-items: center;
 }

 div.gallery {
     border: 1px solid #ccc;
 }

 div.gallery:hover {
     border: 1px solid #777;
 }

 div.gallery img {
     width: 100%;
     height: auto;
 }

 div.desc {
     padding: 15px;
     text-align: center;
 }

 .responsive {
    padding: 0 6px;  
    width: 100%;
    float: left;     
 }

 /* Media query: tablets and larger (768px and up) */
 @media only screen and (min-width: 768px) {
     .responsive {
         width: 49.99999%;
         margin: 6px 0;         
     }
     
 }

 /* Media query: laptops and larger (992px and up) */
 @media only screen and (min-width: 992px) {
     .responsive {
         width: 33%;        
     }
 }

 #signup {
     background-image: url("../images/woman-practicing-yoga-sunset.avif");
     background-size: cover;
     flex-grow: 1;
     padding: 20px 10% 0 10%;
 }

 #signup-form>h2 {
     color: #ff3c00e3;
     margin-bottom: 20px;
 }

 .text-input {
     background: transparent;
     color: #ff3c00e3;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border: 1px solid #fafafa;
     border-radius: 2px;
     padding: 0 5px;
 }

 .join-button {
     margin-top: 40px;
     border-radius: 2px;
     padding: 15px 32px;
     font-size: 100%;
     background-color: #ff3c00e3;
     color: #000000;
 }


 #nav-toggle:checked~nav {
     display: block;
 }

 /* Footer */
 #social-networks {
     text-align: center;
     display: flex;
     padding: 20px 0;
     justify-content: space-evenly;
     list-style-type: none;
 }

 #social-networks i {
     font-size: 160%;
     color: #3a3a3a;
     padding: 5%;
 }


 /* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {

     /* Header */
     nav {
         display: block;
         position: relative;
         box-shadow: none;
         width: fit-content;
         padding-right: 1rem;
     }

     #menu {
         display: flex;
     }

     #menu>li {
         padding-left: 1rem;
     }

     .nav-toggle-label {
         display: none;
     }

     #logo {
         font-size: 280%;
         line-height: 75px;
         margin: 0 0.5rem;
     }

     main {
         margin-top: 150px;
     }

     .text-center {
         text-align: center;
     }
 }

 /* Media query: laptops and desktops (992px and up) */
 @media screen and (min-width: 992px) {

     main {
         margin-top: 75px;
     }

     #menu a:hover {
         border-bottom: 1px solid #3a3a3a;
     }

     /* Form */
     #signup {
         background-position: center;
         position: relative;
     }

     #signup-form {
         max-width: 400px;
         position: absolute;
         left: 10%;
         top: 150px;
     }

     .join-button:hover {
         background-color: #fafafa;
         color: #454b1b;
     }

 }